p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.2in;
    text-align: justify;
}

b{
    font-family: cursive;
    font-size:  0.25in;
}
#mainBody{
    margin-left: 1cm;
    margin-right: 01cm
}
