<div class="container" id="mainBody">
    <div class="row">
     <b>Name :</b>  <p> Manohar N G </p><br><br>
     <b>Mail :</b>   <p>manohar.ng30@gmail.com</p> <br><br>
     <b> GitHub : </b><p>www.github.com/manu3038 </p> <br><br>
      <b>About me:</b> 
      <p>
        I am dynamic communicator, enthusiastic quick learner. Currently having just over a year of experince as software engineer. My hobbies is gardening. I love animals and facinated about the wild life. I do have a lot of pets like a cat, couple of stray dogs and about a 50 pegions. On my free time mostly I watch Netflix. 
      </p>
    </div>
</div>
