<div class="row" id="planetsImage">
    <img src="../../assets/Images/Planets.PNG" class="img-responsive" alt="NoImages">
  </div>
<div class="container">
  
  
<form class="form-inline border border-primary">
    <div class= "row" >
  <!-- PLANET 1 DIV -->
  <div class="form-group col-md-3">
    <h3>Planet 1</h3>
    <app-planet [planetssent] = 'planets' [vehiclessent] = 'vehicles' (change)="getplanet2arr()" ></app-planet>
    <br />
    <br />
    <br>
    
  </div>

<!-- PLANET 2 DIV -->
  <div class="form-group col-md-3">
    <h3>Planet 2</h3>
    <app-planet [planetssent] = 'planet1Removed' (change)="getplanet3arr()" ></app-planet>
    <br />
    <br />
    <br />
   
  </div>

  <!-- PLANET 3 DIV -->
  <div class="form-group col-md-3">
    <h3>Planet 3</h3>
    <app-planet [planetssent] = 'planet2Removed' (change)="getplanet4arr()" ></app-planet>
    <br />
    <br />
    <br />
    
  </div>

  <!-- PLANET 4 DIV -->
  <div class="form-group col-md-3">
    <h3>Planet 4</h3>
    <app-planet [planetssent] = 'planet3Removed' ></app-planet>
    <br />
    <br />
    <br />
    
  </div>
  </div>
  <h3 class="bold" style="text-align: center">Total time: {{TotalTime}}</h3>
  <div class="row" >
    <div style="text-align: center">
    <button style="align-items: center" routerLink="falcone-result" class="btn btn-success" (click)='findFalcone()' [disabled] = "finding">Find the Falcone</button>
  </div>
  </div>
</form>

</div>